@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --fuente1: 'Inter', system-ui, sans-serif;

    --color-pricipal: #3B3A3C;
    --subtitulos: #ABA9AD;
    --color-boton1: #868686;
    --blanco1: #EEECF1;
    --color-vibrante: #7700ff;
    --color-vibrante2: #983dff;
    --color-acento: #B4A0CB;
    --color-valores: #543676;
    --color-neutro: #dedede;
    --texto: #E6EDF3;
    --fondo-1: #E2D0F6;
}

* {
    font-family: var(--fuente1);
    font-size: 1rem;
}

.contenedor {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--color-acento);
}