@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-pricipal: #120422;
    --color-cards: #161B22;
    --color-acento: #B4A0CB;
    --color-valores: #543676;
    --color-neutro: #dedede;
    --texto: #E6EDF3;
    --fondo-1: #E2D0F6;
    --fuente-principal: "Raleway";
    --fuente-secundaria: "JetBrains Mono";
}


.contenedor {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--color-acento);
}

body {
    font-family: var(--fuente-secundaria);
}