@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --fuente1: 'Montserrat', sans-serif;

    --color-pricipal: #120422;
    --color-vibrante: #7700ff;
    --color-vibrante2: #983dff;
    --color-acento: #B4A0CB;
    --color-valores: #543676;
    --color-neutro: #dedede;
    --texto: #E6EDF3;
    --fondo-1: #E2D0F6;
}

* {
    font-family: var(--fuente1);
    font-size: 14px;
}

.contenedor {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--color-acento);
}