@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-pricipal: #120422;
    --color-cards: #161B22;
    --color-acento: #B4A0CB;
    --color-valores: #543676;
    --texto: #E6EDF3;
    --fuente-principal: "Space Mono", sans-serif;
    --fuente-1: 'JetBrains Mono', sans-serif;
}


.contenedor {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: var(--color-acento);
}

body {
    font-family: var(--fuente-1);
}